# Go build artifacts
/bin/
/build/
/dist/
*.exe
*.out
*.test

# Go modules
/go.sum

# Dependency directories
/vendor/

# IDE/editor files
.idea/
.vscode/
*.swp

# Environment files
.env
.env.*

# Docker artifacts
*.log
docker-compose.override.yml
docker-compose.private.yml

# OS-specific files
.DS_Store
